@import 'app/components/atoms/statements.scss';

/* You can add global styles to this file, and also import other style files */
@font-face {
  font-family: "SilkScreen";
  src: local("SilkScreen"), url(./assets/fonts/silkscreen/Silkscreen-Regular.ttf) format("truetype");
}
*{
    font-size: 18px;
    line-height: 1.8rem;
    font-family: Roboto, Georgia, Times, 'Times New Roman', serif;

    color: var(--text-primary);
};
html{
    background-color: var(--primary-dark);
};
body{
    line-height: 5px;
};

main {
	background: linear-gradient(-45deg, var(--bg-gradient1), var(--bg-gradient2), var(--bg-gradient3));
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
/*
@keyframes background-pan {
  from {
    background-position: 0% center;
  }
  
  to {
    background-position: -200% center;
  }
}
main{
  animation: background-pan 10s linear infinite;
  background: linear-gradient(
    to right,
    var(--bg-gradient1),
    var(--bg-gradient2),
    var(--bg-gradient1)
  );
  background-size: 200%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
}
*/
button{
  background-color: var(--secondary);
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
