<div class="mask">
  <div class="main">
    <form class="form" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <input type="input" class="form-field" formControlName="name" placeholder="Name" name="name" id='name' required />
        <label for="name" class="form-label">Name</label>
      </div>
      <div class="form-group">
        <input type="input" class="form-field" formControlName="email" placeholder="email" name="email" id='email' required />
        <label for="email" class="form-label">Email</label>
      </div>
      <div class="category form-group">
        <span class="middle-align">
          <select class="selector" name="category" id="category" formControlName="category">
            <option class="opt" value="" selected disabled hidden> Category </option>
            <option class="opt" *ngFor="let cat of categories" value="cat.index">
              {{ cat.name }}
            </option>
          </select>
        </span>

      </div>
      <div class="subject form-group">
        <input type="input" class="form-field" formControlName="subject" placeholder="subject" name="subject" id='subject' required />
        <label for="" class="form-label">Subject</label>
      </div>


      <div class="form-group">
        <textarea class="text-box" name="message" id="message" cols="30" rows="10" placeholder="Write your message here..."></textarea>
      </div>
    </form>
  </div>
</div>

