
:root {
    //VAPORWAVE THEME
    --primary: #94167F;
    --primary-dark: #200335;

    --secondary: #F62E97;
    --secondary-dark: #E93479;

    --alternative-primary: #F9AC53;
    --alternative-secondary: #153CB4;

    --white-mask: rgba(255, 255, 255, 0.05);

    --bg-gradient1: rgb(41, 0, 99);
    --bg-gradient2: rgb(0, 108, 118);
    --bg-gradient3: rgb(99, 12, 53);
    /*
    //default theme
    //website main theme will be BB86FC | #6200EE | 3700B3 and secondary will be #03DAC5 | #018786 | #CF6679
    --primary: #BB86FC;
    --secondary-dark: #6200EE;
    --primary-darker: #3700B3;

    --secondary: #03DAC5;
    --secondary-dark: #018786;

    --alternative: #CF6679;


    */
    --primary-bg: rgba(12,12,12,0.8);
    --secondary-bg: rgba(12,12,12,0.5);

    --title-primary: #fff;
    --warning-highlight: #850000;
    --text-primary: #fff;
    --text-secondary: #000;

    --testeVerde: #000090;
    --test-highlight: #008000;
    --black-primary: #000;

    --orange-highlight: #ff8000;
};
