.method-select{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .buttons-box{
        text-align: center;
        padding: 10px;
        button{
            padding: 8px 60px;
            margin: 0 5px;
        }
    }
    .method-box{
      width: 70%;
    }
}
hr {
  border-style: inset;
  border-width: 1px;
  margin: 0.5em auto;
  width: 80%;
 }
