.card{
  display: inline-block;
  position: relative;
  width: 100%;
  margin-bottom: 35px;
  img{
    width: 100%;
  }
  .description{
    position: absolute;
    background: linear-gradient(0deg, rgba(0, 0, 0, 1), rgba(0, 0, 0, .01));
    z-index: 3;
    width: 100%;
    bottom: 0;
    .title, .likes{
      opacity: 1;
    }

  }
}
