.navbox{
  padding: 25px;
  background-color: var(--white-mask);
  .navbar{
    //background-color: var(--primary-bg);
    width: 100%;
    color: var(--secondary);
    display: inline-block;
    font-size: 20px;
    .logo-box{
      font-family: "SilkScreen", Arial, Helvetica, sans-serif;
      line-height: 2.3rem;
      font-size: 30px;
      display: inline-block;
      width: 20%;
      .logo-icon{
        background-color: green;
      }

    }
    .navblock{
      display: inline-block;
      width: 60%;


      .items{
        text-align: center;
        a{
          padding: 5px 10px;
          transition: ease-in-out 0.5s;
        }
        a:hover{
          background-color: black;
        }
      }
    }
    .focus-box{
      display: inline-block;
      width: 20%;
      text-align: right;
      .btn{
        padding: 5px 60px;
      }

    }

};

}
