.navbox{
  padding: 25px;
  .navbar{
    //background-color: var(--primary-bg);
    width: 100%;
    color: var(--secondary);
    display: inline-block;
    font-size: calc(14px + 6 * ((100vw - 320px) / 680));

    .logo-box{
      display: inline-block;
      width: 20%;
      .logo-icon{
        background-color: green;
      }

    }
    .navblock{
      display: inline-block;
      width: 60%;


      .items{
        text-align: center;
        a{
          padding: 0 10px;
        }
        a:hover{
          background-color: black;
        }
      }
    }
    .curriculum{
      display: inline-block;
      width: 20%;
      text-align: right;

    }

};

}
