<div class="navbox">
  <div class="navbar">
    <div class="logo-box">
        Gabriel Torres
    </div>
    <div class="navblock">
      <div class="items">
        <a href="#">Home</a>
        <a href="#">About</a>

        <a routerLink="projects" routerLinkActive="active" >Projects</a>
        <a routerLink="contact/email" routerLinkActive="active">Contact</a>
      </div>

    </div>
    <div class="focus-box">
        <button class="btn">Hire Me</button>
    </div>
  </div>
</div>

<!--<app-warning-label warning_message="This website are under construction, if you see any issue please report on contact page"></app-warning-label>-->


